@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1280px) {
  html,
  logo {
    font-size: 100%;
  }
}

@media (max-width: 1080px) {
  html,
  logo {
    font-size: 95%;
  }
}

@media (max-width: 1024px) {
  html,
  logo {
    font-size: 92.5%;
  }
}

@media (max-width: 960px) {
  html,
  logo {
    font-size: 90%;
  }
}

@media (max-width: 840px) {
  html,
  logo {
    font-size: 87.5%;
  }
}

@media (max-width: 720px) {
  html,
  logo {
    font-size: 85%;
  }
}

@media (max-width: 600px) {
  html,
  logo {
    font-size: 82.5%;
  }
}

@media (max-width: 480px) {
  html,
  logo {
    font-size: 80%;
  }
}

@media (max-width: 360px) {
  html,
  logo {
    font-size: 77.5%;
  }
}

body {
  background: #f7fafc;
}

body,
input,
textarea,
select,
button {
  font:
    400 1rem 'Open Sans',
    sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
.headerContainer {
  @apply container mx-auto bg-primary shadow-md;
}
.headerContainerBase {
  @apply bg-white border-2 border-red-500;
}

headerContent {
  @apply flex items-center;
}

.container {
  @apply mx-auto max-w-screen-xl text-center;
}

.header {
  @apply text-2xl font-bold py-4;
}

.main {
  @apply bg-blue-100 p-4 rounded-lg shadow-md;
}

.footer {
  @apply text-sm text-gray-500 mt-4;
}

.btn {
  @apply px-4 py-2 bg-blue-500 text-white rounded shadow;
}

.btn:hover {
  @apply bg-blue-700;
}

.card {
  @apply p-4 bg-white rounded shadow-md;
}

.navbar {
  @apply flex items-center justify-between py-2 px-4 bg-white shadow-md;
}

.navbar-item {
  @apply text-gray-600 hover:text-gray-900;
}

.form-input {
  @apply px-4 py-2 border rounded shadow-sm text-gray-700;
}

.form-input:focus {
  @apply border-blue-500 outline-none;
}

.alert {
  @apply p-4 rounded shadow-md;
}

.alert-info {
  @apply bg-blue-100 text-blue-700;
}

.alert-success {
  @apply bg-green-100 text-green-700;
}

.alert-warning {
  @apply bg-yellow-100 text-yellow-700;
}

.alert-danger {
  @apply bg-red-100 text-red-700;
}

.custom-underline {
  position: relative;
}

.custom-underline::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: currentColor;
  border-radius: 1px;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
}

.custom-underline:hover::after {
  animation: grow-underline 0.2s forwards; /* aumenta a duração da animação */
}

@keyframes grow-underline {
  0% {
    width: 0;
  }
  40% {
    width: 8px;
  }
  85% {
    width: 18px; /* explosão para 18px */
  }
  95% {
    width: 10px; /* retração para 12px */
  }
  100% {
    width: 12px; /* termina em 8px */
  }
}

.active {
  color: var(--primary);
}

.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 12px;
  height: 2px;
  background: currentColor;
  border-radius: 1px;
  transform: translateX(-50%);
}

/* html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
} */
